#Contact label {
    margin-right: 450px;
    
}

#Contact form {
    margin-left: 25%; 
}

#Contact {
    font-family: 'Sarabun', sans-serif;
    background-color: var(--bageTwo);
}


@media (max-width: 400px) {
#Contact label {
    margin-right: 50%
}
}