#Contact label {
    margin-right: 450px;
    
}

#Contact form {
    margin-left: 25%; 
}

#Contact {
    font-family: 'Sarabun', sans-serif;
    background-color: var(--bageTwo);
}


@media only screen 
    and (width : 375px) 
    and (height : 635px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 3) {
#Contact label {
    margin-right: 50%
}
}