#Contact label {
    margin-right: 450px;
    
}

#Contact form {
    margin-left: 25%; 
}

#Contact {
    font-family: 'Sarabun', sans-serif;
    background-color: var(--bageTwo);
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
#Contact label {
    margin-right: 50%
}
}