

.header{
    background: url('../assets/img/lake.jpg') no-repeat center;
    background-size: cover;
    animation: fadeIn 3s;
    height: 775px;
}

.headerOne h1{
   padding-top: 325px;
   text-align: center;
   color: white;
   font-size: 80px;
   text-decoration: underline;
}

@media (max-width: 700px){

    .header{
        background: url('../assets/img/lake.jpg') no-repeat center;
        background-size: cover;
        animation: fadeIn 3s;
        height: 775px;
    }

    .headerOne h1{
        padding-top: 325px;
        text-align: center;
        color: white;
        font-size: 50px;
        text-decoration: underline;
     }


}