#projects{
    background: url(../assets/img/road.jpg);
    background-size: cover;
    height: 700px;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    color: gray;
    margin-top: -55px;
}

#projects h1{
    margin-left: 28px;
    font-size: 55px;
    text-align: center;
}



/****************************************************************************** Bike Client Flip Card ********************************************************************/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #D4CEC4;
    color: black;
    transform: rotateY(180deg);
    font: 'montserrat', sans-serif;
    font-size: 20px;
  }

  .flip-card-img{
    height: 100%;
    width: 100%;
}


  /**************************************************************************API flip card*********************************************************************************/

  .api-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-left: 40%;
    margin-top: -14%;
  }
  
  .api-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .api-card:hover .api-card-inner {
    transform: rotateY(180deg);
  }
  
  .api-card-front, .api-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .api-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .api-card-back {
    background-color: #D4CEC4;
    color: black;
    transform: rotateY(180deg);
    font: 'montserrat', sans-serif;
    font-size: 20px;
  }

  .api-card-img {
    height: 100%;
    width: 100%;
  }


  /********************************************************Tune Talk Client Card*****************************************************************************************/
  .tune-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-left: 70%;
    margin-top: -14%;
  }
  
  .tune-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .tune-card:hover .tune-card-inner {
    transform: rotateY(180deg);
  }
  
  .tune-card-front, .tune-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .tune-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .tune-card-back {
    background-color: #D4CEC4;
    color: black;
    transform: rotateY(180deg);
    font: 'montserrat', sans-serif;
    font-size: 20px;
  }

  .tune-card-img {
    height: 100%;
    width: 100%;
}

@media (max-width: 900px){  

/****************************************************************************** Bike Client Flip Card MediaQ ***********************************************************/

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-left: 20%;
    margin-top: 8%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #D4CEC4;
    color: black;
    transform: rotateY(180deg);
    font: 'montserrat', sans-serif;
    font-size: 20px;
  }

  .flip-card-img{
      height: 100%;
      width: 100%;
  }


/************************************************************************** API Flip Card MediaQ **********************************************************************/

  .api-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-left: 20%;
    margin-top: 0%;
  }
  
  .api-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .api-card:hover .api-card-inner {
    transform: rotateY(180deg);
  }
  
  .api-card-front, .api-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .api-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .api-card-back {
    background-color: #D4CEC4;
    color: black;
    transform: rotateY(180deg);
    font: 'montserrat', sans-serif;
    font-size: 20px;
  }

  .api-card-img {
    height: 100%;
    width: 100%;
  }


      /********************************************************Tune Talk Client Card MediaQ********************************************************************************/
  .tune-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-left: 20%;
    margin-top: 0%;
  }
  
  .tune-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .tune-card:hover .tune-card-inner {
    transform: rotateY(180deg);
  }
  
  .tune-card-front, .tune-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .tune-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .tune-card-back {
    background-color: #D4CEC4;
    color: black;
    transform: rotateY(180deg);
    font: 'montserrat', sans-serif;
    font-size: 20px;
  }

  .tune-card-img {
      height: 100%;
      width: 100%;
  }
    



}