#projects{
    background: url(../assets/img/road.jpg);
    background-size: cover;
    height: 700px;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    color: gray;
    margin-top: -55px;
}

#projects h1{
    margin-left: 28px;
    font-size: 55px;
}

.monster img{
    height: 200px;
    width: 300px;
    margin-left: 15%;
    margin-top: 200px;
    animation: pulse 2s;
    animation-iteration-count: infinite;
}

.storefront img{
    height: 200px;
    width: 300px;
    margin-left: 40%;
    margin-top: -225px;
    animation: pulse 2s;
    animation-iteration-count: infinite;
}

.api img{
    height: 200px;
    width: 300px;
    margin-left: 67%;
    margin-top: -275px;
    animation: pulse 2s;
    animation-iteration-count: infinite;
}

.bikebuilder img{
    animation: pulse 2s;
    animation-iteration-count: infinite;
    margin-left: 40%;
}

@media (max-width: 900px){


    .monster img{
        height: 100px;
        width: 200px;
        margin-left: 15%;
        margin-top: 15%;
        animation: pulse 2s;
        animation-iteration-count: infinite;
    }

    .storefront img{
        height: 100px;
        width: 200px;
        margin-left: 15%;
        margin-top: 12%;
        animation: pulse 2s;
        animation-iteration-count: infinite;
    }

    .api img{
        height: 100px; 
        width: 200px;
        margin-left: 15%;
        margin-top: 12%;
        animation: pulse 2s;
        animation-iteration-count: infinite;
    }
    
    .bikebuilder img{
        animation: pulse 2s;
        animation-iteration-count: infinite;
        margin-left: 15%;
        margin-top: 12%;
        height: 100px;
        width: 200px;
    }


}